{% extends 'storemusic_core/base.html' %}

{% load static %}

{% block contenido %}


<div class="contentcontainer">
    <section class="products">
        <div class="containerproducts">
            <div class="products-header">
                <h2>ACORDEONES</h2>
            </div>
            <div class="row">
                <div class="product-sidebar">

                </div>
                <div class="product-box-row">
                    <div class="productcontent">
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/gabanelli-cromatico.jpg' %}" alt="photo" class="gabanelli-cromatico">
                                <p class="product-code">000000400</p>
                                <p class="product-marca">gabanelli</p>
                                <p class="product-model">cromatico</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/gabanelli-m2.jpg' %}" alt="photo" class="gabanelli-m2">
                                <p class="product-code">000000401</p>
                                <p class="product-marca">gabanelli</p>
                                <p class="product-model">m2</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/honner-anacleto.jpg' %}" alt="photo" class="honner-anacleto">
                                <p class="product-code">000000402</p>
                                <p class="product-marca">honner</p>
                                <p class="product-model">anacleto</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/honner-compadre-black.jpg' %}" alt="photo" class="honner-compadre-black">
                                <p class="product-code">000000403</p>
                                <p class="product-marca">honner</p>
                                <p class="product-model">compadre</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/honner-corona2.jpg' %}" alt="photo" class="honner-corona2">
                                <p class="product-code">000000404</p>
                                <p class="product-marca">honner</p>
                                <p class="product-model">conona 2</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/honner-panther.jpg' %}" alt="photo" class="honner-panther">
                                <p class="product-code">000000405</p>
                                <p class="product-marca">honner</p>
                                <p class="product-model">panther</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/rossetti-diatonic.jpg' %}" alt="photo" class="rossetti-diatonic"> 
                                <p class="product-code">000000406</p>
                                <p class="product-marca">rossetti</p>
                                <p class="product-model">diatonic</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/accordion/honner-compadre.jpg' %}" alt="photo" class="honner-compadre">
                                <p class="product-code">000000407</p>
                                <p class="product-marca">honner</p>
                                <p class="product-model">compadre</p>
                                <p class="price">$25000</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}