{% extends 'storemusic_core/base.html' %}

{% load static %}

{% block contenido %}


<div class="contentcontainer">
    <section class="products">
        <div class="containerproducts">
            <div class="products-header">
                <h2>BAJOS ELECTRICOS</h2>
            </div>
            <div class="row">
                <div class="product-sidebar">

                </div>
                <div class="product-box-row">
                    <div class="productcontent">
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/fender-bass-vintage.jpg' %}" alt="photo" class="fender-bass-vintage">
                                <p class="product-code">000000100</p>
                                <p class="product-marca">Fender</p>
                                <p class="product-model">Vintage</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/fender-bassamerican.jpg' %}" alt="photo" class="fender-bassamerican">
                                <p class="product-code">000000101</p>
                                <p class="product-marca">Fender</p>
                                <p class="product-model">American</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/fender-jaguar.jpg' %}" alt="photo" class="fender-jaguar">
                                <p class="product-code">000000102</p>
                                <p class="product-marca">Fender</p>
                                <p class="product-model">Jaguar</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/ibanez-btb-675.jpg' %}" alt="photo" class="ibanez-btb-675">
                                <p class="product-code">000000103</p>
                                <p class="product-marca">Ibanez</p>
                                <p class="product-model">btb-675</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/ibanez-sdgr.jpg' %}" alt="photo" class="ibanez-sdgr">
                                <p class="product-code">000000104</p>
                                <p class="product-marca">Ibanez</p>
                                <p class="product-model">Sdgr</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/jackson-bass.jpg' %}" alt="photo" class="jackson-bass">
                                <p class="product-code">000000105</p>
                                <p class="product-marca">Jackson</p>
                                <p class="product-model">David-Effelson</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/Jackson-kelly.jpg' %}" alt="photo" class="Jackson-kelly"> 
                                <p class="product-code">000000106</p>
                                <p class="product-marca">Jackson</p>
                                <p class="product-model">Kelly</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/bass/squier-bass-affinity.jpg' %}" alt="photo" class="squier-bass-affinity">
                                <p class="product-code">000000107</p>
                                <p class="product-marca">Squier</p>
                                <p class="product-model">Affinity</p>
                                <p class="price">$13000</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}