{% extends 'storemusic_core/base.html' %}

{% load static %}

{% block contenido %}


<div class="contentcontainer">
    <section class="products">
        <div class="containerproducts">
            <div class="products-header">
                <h2>GUITARRAS ELECTRICAS</h2>
            </div>
            <div class="row">
                <div class="product-sidebar">

                </div>
                <div class="product-box-row">
                    <div class="productcontent">
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/pearl-exl725s.jpg' %}" alt="photo" class="pearl-exl725s">
                                <p class="product-code">000000300</p>
                                <p class="product-marca">pearl</p>
                                <p class="product-model">exl725s</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/pearl-roadshow.jpg' %}" alt="photo" class="pearl-roadshow">
                                <p class="product-code">000000301</p>
                                <p class="product-marca">pearl</p>
                                <p class="product-model">roadshow</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/pearl-vb825.jpg' %}" alt="photo" class="pearl-vb825">
                                <p class="product-code">000000302</p>
                                <p class="product-marca">pearl</p>
                                <p class="product-model">vb825</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/pearl-visionvbl925.jpg' %}" alt="photo" class="pearl-visionvbl925">
                                <p class="product-code">000000303</p>
                                <p class="product-marca">pearl</p>
                                <p class="product-model">visionvbl925</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/tama-customsuperstar.jpg' %}" alt="photo" class="tama-customsuperstar">
                                <p class="product-code">000000304</p>
                                <p class="product-marca">tama</p>
                                <p class="product-model">custom superstar</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/tama-hyperd.jpg' %}" alt="photo" class="tama-hyperd">
                                <p class="product-code">000000305</p>
                                <p class="product-marca">tama</p>
                                <p class="product-model">hyperd</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/tama-hyperd6.jpg' %}" alt="photo" class="tama-hyperd6"> 
                                <p class="product-code">000000306</p>
                                <p class="product-marca">tama</p>
                                <p class="product-model">hyperd6</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/drums/tama-starclassic.jpg' %}" alt="photo" class="tama-starclassic">
                                <p class="product-code">000000307</p>
                                <p class="product-marca">tama</p>
                                <p class="product-model">star classic</p>
                                <p class="price">$20000</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}