{% extends 'storemusic_core/base.html' %}

{% load static %}

{% block contenido %}


<div class="contentcontainer">
    <section class="products">
        <div class="containerproducts">
            <div class="products-header">
                <h2>GUITARRAS ELECTRICAS</h2>
            </div>
            <div class="row">
                <div class="product-sidebar">

                </div>
                <div class="product-box-row">
                    <div class="productcontent">
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/fender-stratocaster.jpg' %}" alt="photo" class="fender-stratocaster">
                                <p class="product-code">000000001</p>
                                <p class="product-marca">Fender</p>
                                <p class="product-model">Stratocaster</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/fender-telecaster.jpg' %}" alt="photo" class="fender-telecaster">
                                <p class="product-code">000000002</p>
                                <p class="product-marca">Fender</p>
                                <p class="product-model">Telecaster</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/gibson-sg.jpg' %}" alt="photo" class="gibson-sg">
                                <p class="product-code">000000003</p>
                                <p class="product-marca">Gibson</p>
                                <p class="product-model">Sg</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/gibson-explorerr.jpg' %}" alt="photo" class="gibson-explorer">
                                <p class="product-code">000000004</p>
                                <p class="product-marca">Gibson</p>
                                <p class="product-model">Explorer</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/ibanez-jem.jpg' %}" alt="photo" class="ibanez-jem">
                                <p class="product-code">000000005</p>
                                <p class="product-marca">Ibanez</p>
                                <p class="product-model">Jem</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/ibanez-rg.jpg' %}" alt="photo" class="ibanez-rg421">
                                <p class="product-code">000000006</p>
                                <p class="product-marca">Ibanez</p>
                                <p class="product-model">rg-421</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/ibanez-rg550.jpg' %}" alt="photo" class="ibanez-rg550"> 
                                <p class="product-code">000000007</p>
                                <p class="product-marca">Ibanez</p>
                                <p class="product-model">rg-550</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/guitars/charvel-strat.jpg' %}" alt="photo" class="charvel-strat">
                                <p class="product-code">000000008</p>
                                <p class="product-marca">Charvel</p>
                                <p class="product-model">Charvel-strat</p>
                                <p class="price">$12000</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}