{% extends 'storemusic_core/base.html' %}

{% load static %}

{% block contenido %}


<div class="contentcontainer">
    <section class="products">
        <div class="containerproducts">
            <div class="products-header">
                <h2>TECLADOS</h2>
            </div>
            <div class="row">
                <div class="product-sidebar">

                </div>
                <div class="product-box-row">
                    <div class="productcontent">
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/korg-ek50.jpg' %}" alt="photo" class="korg-ek50">
                                <p class="product-code">000000200</p>
                                <p class="product-marca">korg</p>
                                <p class="product-model">ek50</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/korg-kronos.jpg' %}" alt="photo" class="korg-kronos">
                                <p class="product-code">000000201</p>
                                <p class="product-marca">korg</p>
                                <p class="product-model">kronos</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/korg-pa600.jpg' %}" alt="photo" class="korg-pa600">
                                <p class="product-code">000000202</p>
                                <p class="product-marca">korg</p>
                                <p class="product-model">pa600</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/krome-ex.jpg' %}" alt="photo" class="krome-ex">
                                <p class="product-code">000000203</p>
                                <p class="product-marca">korg</p>
                                <p class="product-model">ex</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/yamaha-kit-psrew300.jpg' %}" alt="photo" class="yamaha-kit-psrew300">
                                <p class="product-code">000000204</p>
                                <p class="product-marca">yamaha</p>
                                <p class="product-model">kit-psrew300</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/yamaha-psre263.jpg' %}" alt="photo" class="">yamaha-psre263
                                <p class="product-code">000000205</p>
                                <p class="product-marca">yamaha</p>
                                <p class="product-model">psre263</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/yamaha-psrs710.jpg' %}" alt="photo" class="yamaha-psrs710"> 
                                <p class="product-code">000000206</p>
                                <p class="product-marca">yamaha</p>
                                <p class="product-model">psrs710</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                        <div class="product-box">
                            <a href="#">
                                <img src="{% static 'storemusic_core/img/keyboards/yamaha-spsre.jpg' %}" alt="photo" class="yamaha-spsre">
                                <p class="product-code">000000207</p>
                                <p class="product-marca">yamaha</p>
                                <p class="product-model">spsre</p>
                                <p class="price">$15000</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}